<!DOCTYPE HTML>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css" integrity="sha384-Zug+QiDoJOrZ5t4lssLdxGhVrurbmBWopoEl+M6BdEfwnCJZtKxi1KgxUyJq13dy"
        crossorigin="anonymous">

    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg"
        crossorigin="anonymous">
    <title>Cube Greenhouse</title>
    <style>
        body {
            background-color: #252830;
            margin-top: 50px;
        }

        .text-lime {
            color: limegreen;
        }

       
    </style>
</head>

<body>
    <div class="container">
        <h1 class="text-lime text-center">
            <i class="fas fa-cube"></i> Cube Greenhouse</h1>
        <br />
        <div class="row">
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="card">
                    <div class="card-header bg-danger text-white">
                        Temperature
                    </div>
                    <div class="card-body">
                        <h1 class="card-title text-center">
                            <i class="fas fa-thermometer-three-quarters">
                            </i>
                            <span id="temperature-placeholder">0</span>&deg;
                        </h1>

                    </div>
                </div>
                <br />
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="card">
                    <div class="card-header bg-primary text-white">
                        Humidity
                    </div>
                    <div class="card-body">
                        <h1 class="card-title text-center">
                            <i class="fas fa-tint">
                            </i>
                            <span id="humidity-placeholder">0</span> %

                        </h1>

                    </div>
                </div>
                <br />
            </div>
            <div class="col-12 col-sm-6 col-lg-4">
                <div class="card">
                    <div class="card-header bg-default">
                        Light
                    </div>
                    <div class="card-body">
                        <h1 class="card-title text-center">
                            <i class="fas fa-lightbulb"></i>
                            </i>
                            <span id="light-placeholder">n.d.</span>

                        </h1>

                    </div>
                </div>
                <br />
            </div>

        </div>
    </div>


    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/js/bootstrap.min.js" integrity="sha384-a5N7Y/aK3qNeh15eJKGWxsqtnX/wWdSZSKp+81YjTmS15nvnvxKHuzaWwXHDli+4"
        crossorigin="anonymous"></script>

    <script src="/socket.io/socket.io.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.0/Chart.bundle.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
    <script src="/js/main.js"></script>
</body>

</html>